<!-- ====== About Section Start -->
<section
  id="about"
  class="bg-gray-1 dark:bg-dark-2 pt-20 pb-8 lg:pt-[120px] lg:pb-[70px]"
>
  <div class="container">
    <div class="wow fadeInUp" data-wow-delay=".2s">
      <div class="-mx-4 flex flex-wrap items-center">
        <div class="w-full px-4 lg:w-1/2">
          <div class="mb-12 max-w-[540px] lg:mb-0">
            <h2
              class="mb-5 text-3xl font-bold leading-tight text-dark dark:text-white sm:text-[40px] sm:leading-[1.2]">
              Pour mieux poursuivre son chemin, Sos Globi Paris devient « <span class="text-primary">SICK</span><span class="text-red">e</span><span class="text-primary">LINK by SOS GLOBI PARIS</span>» 
            </h2>
            <p class="mb-10 text-base leading-relaxed text-body-color dark:text-dark-6">
              Elle est gérée par 80% de drépanocytaires qui militent depuis près de 25 ans dans des associations et des organismes en rapport avec la drépanocytose et la thalassémie. Après avoir contribué à la création de la Fédération des Malades Drépanocytaires et Thalassémiques (FMDT), l’association Sos Globi Paris appelée à d’autres missions, a souhaité voler de ses propres ailes.
              <br> <br>
              Elle est devenue un des membres fondateurs du collectif « Ensemble contre la Drépanocytose », collectif rassemblant plus de 60 associations de lutte contre la drépanocytose.
              <br> <br>
              Nos combats dans la vie avec la Drépanocytose, nos expériences sur le terrain près des familles et des malades, nos actions aux côtés des médecins, chercheurs et des acteurs médico-sociaux, font des membres de notre association des personnes aguerries dans cette pathologie.
SOS GLOBI PARIS (alias Vaincre La Drépanocytose) est née de la volonté d’informer le grand public mais également de montrer aux personnes touchées par la maladie qu’il est possible de vivre avec elle.
            </p>

            <ul class="space-y-3">
              <h4 class="text-base leading-relaxed text-body-color underline">Vaincre la maladie,c'est : </h4>
              <li class="text-body-color dark:text-dark-6 flex text-base">
                 <span
                    class="bg-primary mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base"
                    >
                 </span>
                 Connaître pour mieux appréhender la maladie,
              </li>
              <li class="text-body-color dark:text-dark-6 flex text-base">
                 <span
                    class="bg-primary mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base"
                    >
                 </span>
                 Connaître pour mieux apprivoiser la maladie,
              </li>
              <li class="text-body-color dark:text-dark-6 flex text-base">
                 <span
                    class="bg-primary mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base"
                    >
                 </span>
                 Connaître pour être acteur de sa vie malgré et avec sa maladie.
              </li>
              <li class="text-body-color dark:text-dark-6 flex text-base">
                 <span
                    class="bg-primary mr-2 mt-2 flex h-2 w-full max-w-[8px] items-center justify-center rounded-full text-base"
                    >
                 </span>
                 L’accepter pour mieux vivre avec elle.
              </li>
           </ul>
           <p class="mb-5 mt-10 text-base leading-relaxed text-body-color dark:text-dark-6">
            De fait, l’association est guidée par un principe : aucune action positive ne peut être menée, si l’on ne sait pas au départ ce pour quoi la dite action est menée. On ne défend pas une cause dont on ignore les contours. Dans ce site vous trouverez entre autres des conseils, des informations sur : le handicap et sur les lois, sur la maladie, les acteurs socio-médicaux, sur nos actions … autant d’informations qui nous l’espérons vous aideront à mieux appréhender, à mieux connaître pour aider un proche ou vous-même à mieux vivre avec la maladie.   Sos Globi Paris, Vaincre La Drépanocytose.
            <br><br>
            Pour mieux poursuivre son chemin, Sos Globi Paris devient « SICKeLINK by SOS GLOBI PARIS» une association de patients, d’aidants et de familles, en lien avec les maladies génétiques du globule rouge : Drépanocytose et Thalassémie.
          </p>
          </div>
        </div>

        <div class="w-full px-4 lg:w-1/2">
              <div class="mb-4 sm:mb-8 sm:h-[400px] md:h-[540px] lg:h-[400px] xl:h-[500px]">
                <img src="/assets/about/prez_sickelink.jpg" alt="présentation sickelink"
                  class="object-center object-cover" />
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ====== About Section End -->
