---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body } = Astro.props;
---

<li class="link-card" x-data="{isClick: false}">
	<h2 class="" @click="isClick = true" :class="isClick ? 'text-[blue]' : 'text-[red]'">
		{title}
		<span>&rarr;</span>
	</h2>
	<a href={href}>
		<p>
			{body}
		</p>
	</a>
</li>
