<!-- ====== Hero Section Start -->
<section
  id="home"
  class="relative overflow-hidden finisher-header  pt-[120px] md:pt-[130px] lg:pt-[160px]"
>
  <div class="container">
    <div class="-mx-4 flex flex-wrap items-center ">
      <div class="px-4 mx-auto max-w-screen-xl text-center py-18 lg:py-28">
    
        <img class="center mx-auto w-96 h-96" src="/assets/logo/logo_sicke.png" alt="image description">

        <p class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48">Association de patients, d’aidants, de familles en lien avec les maladies génétiques du globule rouge : Drépanocytose et Thalassémie</p>
        <div class="flex flex-col space-y-4 sm:flex-row sm:justify-center sm:space-y-0">
            <a href="/qui-sommes-nous" class="inline-block rounded-md bg-primary py-3 px-7 text-center text-base font-medium text-white transition hover:bg-blue-dark">
                En savoir plus
            </a>
        </div>
        
    
    <div class="flex justify-evenly px-8 mt-20">
        <div class="text-xl text-white">sickelink@gmail.com</div>
        <div class="inline-flex rounded-md shadow-sm" role="group">
            <button type="button" class="px-4 py-2 text-sm font-medium text-white bg-transparent border border-white rounded-s-lg hover:bg-white hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-white focus:bg-white focus:text-gray-900">
                INSTAGRAM
            </button>
            <button type="button" class="px-4 py-2 text-sm font-medium text-white bg-transparent border-t border-b border-white hover:bg-white hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-white focus:bg-white focus:text-gray-900">
                FACEBOOK
            </button>
            <button type="button" class="px-4 py-2 text-sm font-medium text-white bg-transparent border border-white rounded-e-lg hover:bg-white hover:text-gray-900 focus:z-10 focus:ring-2 focus:ring-white focus:bg-white focus:text-gray-900">
                TWITTER
            </button>
        </div>
    </div>
  </div>
    </div>
  </div>
</section>
<!-- ====== Hero Section End -->

<script src="assets/hero/finisher-header.es5.min.js" is:inline type="text/javascript"></script>
<script type="text/javascript">
  new FinisherHeader({
    "count": 12,
  "size": {
    "min": 1300,
    "max": 1500,
    "pulse": 0
  },
  "speed": {
    "x": {
      "min": 0.6,
      "max": 3
    },
    "y": {
      "min": 0.6,
      "max": 3
    }
  },
    "colors": {
      "background": "#315D96",
      "particles": [
        "#db1f26",
        "#0A4E9A"
      ]
    },
    "blending": "lighten",
  "opacity": {
    "center": 0.6,
    "edge": 0
  },
  "shapes": [
    "c"
  ]
});
</script>